<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentNoteMapper">
	<!-- 쪽지 수신 목록 가져오기 -->
	<select id="selectNoteReceiveListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Note">
		SELECT
			note_no noteNo,
			note_title noteTitle,
			note_content noteContent,
			note_dispatcher_id noteDispatcherId,
			note_dispatcher_name noteDispatcherName,
			note_receiver_id noteReceiverId,
			note_receiver_name noteReceiverName,
			note_send_date noteSendDate,
			note_is_read noteIsRead
		FROM
			note
		WHERE
			note_receiver_id = #{accountId} AND
			note_delete != 'receiver'	
			<if test = "searchText != ''">
				AND (note_title LIKE CONCAT('%' , #{searchText} , '%') OR
				note_content LIKE CONCAT('%' , #{searchText} , '%'))
			</if>
		ORDER BY
			note_send_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	<!-- 쪽지 수신 개수 -->
	<select id="selectNoteReceiveListCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			note
		WHERE
			note_receiver_id = #{accountId} AND
			note_delete != 'receiver'
			<if test = "searchText != ''">
				AND (note_title LIKE CONCAT('%' , #{searchText} , '%') OR
				note_content LIKE CONCAT('%' , #{searchText} , '%'))
			</if>
	</select>
	
	<!-- 쪽지 발신 목록 가져오기 -->
	<select id="selectNoteDispatchListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Note">
		SELECT
			note_no noteNo,
			note_title noteTitle,
			note_content noteContent,
			note_dispatcher_id noteDispatcherId,
			note_dispatcher_name noteDispatcherName,
			note_receiver_id noteReceiverId,
			note_receiver_name noteReceiverName,
			note_send_date noteSendDate,
			note_is_read noteIsRead
		FROM
			note
		WHERE
			note_dispatcher_id = #{accountId} AND
			note_delete != 'dispatcher'	
			<if test = "searchText != ''">
				AND (note_title LIKE CONCAT('%' , #{searchText} , '%') OR
				note_content LIKE CONCAT('%' , #{searchText} , '%'))
			</if>
		ORDER BY
			note_send_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	<!-- 쪽지 발신 개수 -->
	<select id="selectNoteDispatchListCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			note
		WHERE
			note_dispatcher_id = #{accountId}
			<if test = "searchText != ''">
				AND (note_title LIKE CONCAT('%' , #{searchText} , '%') OR
				note_content LIKE CONCAT('%' , #{searchText} , '%'))
			</if>
	</select>
	
	<!-- 쪽지 상세보기 -->
	<select id="selectNoteOne" parameterType="int" resultType="gd.fintech.lms.vo.Note">
		SELECT
			note_no noteNo,
			note_title noteTitle,
			note_content noteContent,
			note_dispatcher_id noteDispatcherId,
			note_dispatcher_name noteDispatcherName,
			note_receiver_id noteReceiverId,
			note_receiver_name noteReceiverName,
			note_send_date noteSendDate,
			note_is_read noteIsRead
		FROM
			note
		WHERE
			note_no = #{noteNo}
	</select>
	
	<!-- 쪽지 읽음 상태로 변경 -->
	<update id="updateNoteIsRead" parameterType="int">
		UPDATE
			note
		SET
			note_is_read = 'Y'
		WHERE
			note_no = #{noteNo}
	</update>
	
	<!-- 쪽지 보내기 -->
	<insert id="insertNote" parameterType="gd.fintech.lms.vo.Note">
		INSERT INTO note(
			note_title,
			note_content,
			note_dispatcher_id,
			note_dispatcher_name,
			note_receiver_id,
			note_receiver_name,
			note_send_date,
			note_is_read,
			note_delete
		) VALUE (
			#{noteTitle},
			#{noteContent},
			#{noteDispatcherId},
			#{noteDispatcherName},
			#{noteReceiverId},
			#{noteReceiverName},
			NOW(),
			'N',
			'none'
		)
	</insert>
	
	<!-- 쪽지 삭제 상태 확인 -->
	<select id="selectNoteDelete" parameterType="gd.fintech.lms.vo.Note" resultType="String">
		SELECT
			note_delete
		FROM
			note
		WHERE
			note_no = #{noteNo}
	</select>
	
	<!-- 쪽지 나에게만 삭제 -->
	<update id="updateNoteDelete" parameterType="gd.fintech.lms.vo.Note">
		UPDATE
			note
		SET
			note_delete = #{noteDelete}
		WHERE
			note_no = #{noteNo}
	</update>
	
	<!-- 양쪽 다 해당 쪽지 삭제시 : 완전 삭제 -->
	<delete id="deleteNote" parameterType="gd.fintech.lms.vo.Note">
		DELETE FROM
			note
		WHERE 
			note_no = #{noteNo}
	</delete>
</mapper>