<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentFaqMapper">
	<!-- FAQ 카테고리 -->
	<select id="selectFaqCategoryList" resultType="gd.fintech.lms.vo.FaqCategory">
		SELECT 
			faq_category faqCategory
		FROM
			faq_category
	</select>
	
	<!-- FAQ 목록 -->
	<select id="selectFaqListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Faq">
		SELECT
			faq_no faqNo,
			account_id accountId,
			faq_writer faqWriter,
			faq_title faqTitle,
			faq_content faqContent,
			faq_createdate faqCreatedate,
			faq_count faqCount,
			faq_category faqCategory
		FROM
			faq
		<where>
			<if test = "searchCategory != ''">
				AND faq_category = #{searchCategory}
			</if>
			<if test="searchText != ''">
				<if test = "searchOption == 'title'">
					AND faq_title LIKE CONCAT('%' , #{searchText} , '%')
				</if>
				<if test = "searchOption == 'content'">
					AND faq_content LIKE CONCAT('%' , #{searchText} , '%')
				</if>
				<if test = "searchOption == 'titleContent'">
					AND (faq_title LIKE CONCAT('%' , #{searchText} , '%') OR
					faq_content LIKE CONCAT('%' , #{searchText} , '%'))
				</if>
			</if>
		</where>
		ORDER BY
			faq_createdate DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- FAQ 게시글 개수 -->
	<select id="selectFaqListCount" resultType="int" parameterType="java.util.Map">
		SELECT
			COUNT(*)
		FROM
			faq
		<where>
			<if test = "searchCategory != ''">
				AND faq_category = #{searchCategory}
			</if>
			<if test="searchText != ''">
				<if test = "searchOption == 'title'">
					AND faq_title LIKE CONCAT('%' , #{searchText} , '%')
				</if>
				<if test = "searchOption == 'content'">
					AND faq_content LIKE CONCAT('%' , #{searchText} , '%')
				</if>
				<if test = "searchOption == 'titleContent'">
					AND (faq_title LIKE CONCAT('%' , #{searchText} , '%') OR
					faq_content LIKE CONCAT('%' , #{searchText} , '%'))
				</if>
			</if>
		</where>
	</select>
	
	<!-- FAQ 상세보기 -->
	<select id="selectFaqOne" parameterType="int" resultType="gd.fintech.lms.vo.Faq">
		SELECT
			faq_no faqNo,
			account_id accountId,
			faq_writer faqWriter,
			faq_title faqTitle,
			faq_content faqContent,
			faq_createdate faqCreatedate,
			faq_count faqCount,
			faq_category faqCategory
		FROM
			faq
		WHERE
			faq_no = #{faqNo}
	</select>
	
	<!-- FAQ 조회수 증가 -->
	<update id="updateFaqCount" parameterType="int">
		UPDATE
			faq
		SET
			faq_count = faq_count + 1
		WHERE
			faq_no = #{faqNo} 
	</update>
</mapper>