<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentAttendanceMapper">
	<!-- 학생의 한 강좌 출석 리스트 불러오기 -->
	<select id="selectAttendanceList" resultType="gd.fintech.lms.vo.Attendance" parameterType="java.util.Map">
		SELECT 
			lecture_no lectureNo,
			account_id accountId,
			attendance_day attendanceDay,
			attendance_createdate attendanceCreatedate,
			attendance_updatedate attendanceUpdatedate,
			attendance_state attendanceState,
			attendance_remark attendanceRemark
		FROM 
			attendance
		WHERE 
			account_id = #{accountId} AND 
			lecture_no = #{lectureNo} AND
			YEAR(attendance_day) = #{currentYear} AND
			MONTH(attendance_day) = #{currentMonth}
	</select>
	<!-- 학생의 한 강좌 출석률 -->
	<select id="selectAttendancePercent" resultType="double" parameterType="java.util.Map">
		SELECT 
			IFNULL(ROUND((COUNT(*)/s.subject_totalday * 100), 1),0) rating
		FROM 
			subject s
		JOIN 
			lecture l ON 
			s.subject_no = l.lecture_no
		JOIN 
			attendance a ON 
			a.lecture_no = l.lecture_no
		WHERE 
			a.attendance_state = '출석' AND
			a.account_id = #{accountId} AND
			a.lecture_no = #{lectureNo}
	</select>
</mapper>