<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentReportFileMapper">
	<!-- 과제 제출 파일 입력 -->
	<insert id="insertReportSubmitFile" parameterType="gd.fintech.lms.vo.ReportSubmitFile">
		INSERT INTO report_submit_file (
			report_submit_file_uuid,
			report_submit_file_original,
			report_submit_no,
			report_submit_file_size,
			report_submit_file_type,
			report_submit_file_count,
			report_submit_file_createdate
		) VALUES (
			#{reportSubmitFileUuid},
			#{reportSubmitFileOriginal},
			#{reportSubmitNo},
			#{reportSubmitFileSize},
			#{reportSubmitFileType},
			#{reportSubmitFileCount},
			NOW()
		)
	</insert>
	
	<!-- 파일 이름들 가져오기 -->
	<select id="selectReportSubmitFileName" parameterType="int" resultType="String">
		SELECT 
			report_submit_file_uuid
		FROM
			report_submit_file
		WHERE
			report_submit_no = #{reportSubmitNo}
	</select>
	
	<!-- 제출된 해당 과제의 파일들을 삭제함 -->
	<delete id="deleteReportSubmitFile" parameterType="int">
		DELETE FROM
			report_submit_file
		WHERE
			report_submit_no = #{reportSubmitNo}		
	</delete>
</mapper>