<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentLectureMapper">
	<!-- 학생 : 자신이 수강중인 강좌 목록 보기  -->
	<resultMap type="gd.fintech.lms.vo.LectureAndClassRegistrationAndSubject" id="selectStudentClassListByPageResult">
		<!-- 강좌 정보 -->
		<association property="lecture" javaType="gd.fintech.lms.vo.Lecture">
             <result property="lectureNo" column="lecture_no" />
             <result property="accountId" column="account_id" />
             <result property="teacherName" column="teacher_name" />
             <result property="lectureName" column="lecture_name" />
             <result property="lectureStartdate" column="lecture_startdate" />
             <result property="lectureEnddate" column="lecture_enddate" />
             <result property="lectureTotal" column="lecture_total" />
		</association>
		<!-- 과목 정보 -->
		<association property="subject" javaType="gd.fintech.lms.vo.Subject">
             <result property="subjectName" column="subject_name" />
             <result property="subjectTotalday" column="subject_totalday" />
		</association>	
		<!-- 수강 정보 -->
		<association property="classRegistration" javaType="gd.fintech.lms.vo.ClassRegistration">
             <result property="classRegistrationNo" column="class_registration_no" />
             <result property="accountId" column="account_id" />
             <result property="classRegistrationState" column="class_registration_state" />
		</association>
	</resultMap>
	<select id="selectStudentClassListByPage" parameterType="java.util.Map" resultMap="selectStudentClassListByPageResult">
		SELECT 
			l.lecture_no, 
			s.subject_name,
			l.account_id,
			l.teacher_name, 
			l.lecture_name, 
			l.lecture_startdate, 
			l.lecture_enddate, 
			l.lecture_total,
			s.subject_totalday,
			cr.class_registration_no, 
			cr.account_id,
			cr.class_registration_state
		FROM class_registration cr 
		JOIN lecture l 
		ON cr.lecture_no = l.lecture_no 
		JOIN subject s
		ON s.subject_no = l.subject_no
		WHERE cr.account_id = #{studentId}
		ORDER BY cr.class_registration_no DESC 
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 학생 : 자신이 수강중인 강좌의 개수 -->
	<select id="selectStudentClassListCount" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM class_registration
		WHERE account_id = #{studentId}
	</select>
	
	<!-- 학생 : 수강중인 강좌 상세보기 -->
	<resultMap type="gd.fintech.lms.vo.LectureAndClassRegistrationAndSubjectAndTextbookAndClassroom" id="selectStudentClassOneResult">
		<!-- 강좌 정보 -->
		<association property="lecture" javaType="gd.fintech.lms.vo.Lecture">
             <result property="lectureNo" column="lecture_no" />
             <result property="accountId" column="account_id" />
             <result property="teacherName" column="teacher_name" />
             <result property="lectureName" column="lecture_name" />
             <result property="lectureStartdate" column="lecture_startdate" />
             <result property="lectureEnddate" column="lecture_enddate" />
             <result property="lectureTotal" column="lecture_total" />
		</association>
		<!-- 수강 정보 -->
		<association property="classRegistration" javaType="gd.fintech.lms.vo.ClassRegistration">
             <result property="classRegistrationNo" column="class_registration_no" />
             <result property="accountId" column="account_id" />
             <result property="classRegistrationState" column="class_registration_state" />
             <result property="classRegistrationPoint" column="class_registration_point" />
             <result property="classRegistrationReview" column="class_registration_review" />
		</association>
		<!-- 과목 정보 -->
		<association property="subject" javaType="gd.fintech.lms.vo.Subject">
             <result property="subjectName" column="subject_name" />
             <result property="subjectTotalday" column="subject_totalday" />
             <result property="subjectInfo" column="subject_info" />
		</association>	
		<!-- 교재 정보 -->
		<association property="textbook" javaType="gd.fintech.lms.vo.Textbook">
             <result property="textbookIsbn" column="textbook_isbn" />
             <result property="textbookTitle" column="textbook_title" />
		</association>	
		<!-- 강의실 정보 -->
		<association property="classroom" javaType="gd.fintech.lms.vo.Classroom">
             <result property="classroomNo" column="classroom_no" />
             <result property="classroomNumber" column="classroom_number" />
		</association>	
	</resultMap>
	<select id="selectStudentClassOne" parameterType="int" resultMap="selectStudentClassOneResult">
		SELECT 
			l.lecture_no, 
			l.account_id,
			l.teacher_name, 
			l.lecture_name, 
			l.lecture_startdate, 
			l.lecture_enddate, 
			l.lecture_total,
			cr.class_registration_no, 
			cr.account_id,
			cr.class_registration_state,
			cr.class_registration_point,
			cr.class_registration_review,
			s.subject_name,
			s.subject_totalday,
			s.subject_info,
			t.textbook_isbn,
			t.textbook_title,
			c.classroom_no,
			c.classroom_number
		FROM class_registration cr 
		JOIN lecture l 
		ON cr.lecture_no = l.lecture_no 
		JOIN subject s
		ON s.subject_no = l.subject_no
		JOIN textbook t
		ON t.textbook_isbn = l.textbook_isbn
		JOIN classroom c 
		ON c.classroom_no = l.classroom_no
		WHERE cr.class_registration_no = #{classRegistrationNo}
	</select>
	
	<!-- 학생이 수강하는 강좌의 후기를 수정 -->
	<update id="updateStudentClassReview" parameterType="gd.fintech.lms.vo.ClassRegistration">
		UPDATE class_registration 
		SET
			class_registration_point = #{classRegistrationPoint},
			class_registration_review = #{classRegistrationReview}
		WHERE class_registration_no = #{classRegistrationNo}
	</update>
	
	<!-- 학생이 신청할 수 있는 강좌 목록 -->
	<resultMap type="gd.fintech.lms.vo.Lecture" id="selectStudentLectureListResult">
		<result property="lectureNo" column="lecture_no" />
		<result property="accountId" column="account_id" />
		<result property="teacherName" column="teacher_name" />
		<result property="lectureName" column="lecture_name" />
		<result property="lectureStartdate" column="lecture_startdate" />
		<result property="lectureEnddate" column="lecture_enddate" />
		<association property="subject" javaType="gd.fintech.lms.vo.Subject">
			<result property="subjectName" column="subject_name" />
		</association>
	</resultMap>
	<select id="selectStudentLectureListByPage" parameterType="java.util.Map" resultMap="selectStudentLectureListResult">
		SELECT
			l.lecture_no, 
			l.account_id, 
			s.subject_name, 
			l.teacher_name, 
			l.lecture_name, 
			l.lecture_startdate, 
			l.lecture_enddate
		FROM lecture l
		JOIN subject s
		ON l.subject_no = s.subject_no
		WHERE 
			DATE_FORMAT(NOW(), '%Y-%m-%d') >= l.lecture_startdate AND l.lecture_enddate >= DATE_FORMAT(NOW(), '%Y-%m-%d')
		ORDER BY l.lecture_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 학생이 수강 신청 가능한 강좌 개수 -->
	<select id="selectStudentLectureListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM lecture l
		JOIN subject s
		ON l.subject_no = s.subject_no
		WHERE l.lecture_startdate > DATE_FORMAT(NOW(), '%Y-%m-%d')
	</select>
	
</mapper>