<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.restmapper.ChatRestMapper">
	<!-- 사용자 검색 -->
	<select id="selectAccountList" resultType="java.util.Map" parameterType="String">
		SELECT 
			a.account_id accountId,
			case when s.student_name IS NOT NULL then s.student_name
			when t.teacher_name IS NOT NULL then t.teacher_name
			when m.manager_name IS NOT NULL then m.manager_name END
			accountName
		FROM 
			account a
		LEFT JOIN student s ON
			a.account_id = s.student_id
		LEFT JOIN teacher t ON
			a.account_id = t.teacher_id
		LEFT JOIN manager m ON
			a.account_id = m.manager_id
		WHERE 
		!(
			s.student_name IS NULL AND 
			t.teacher_name IS NULL AND 
			m.manager_name IS NULL
		) AND (
			s.student_name LIKE CONCAT('%' , #{searchAccount} , '%') OR 
			t.teacher_name LIKE CONCAT('%' , #{searchAccount} , '%') OR 
			m.manager_name LIKE CONCAT('%' , #{searchAccount} , '%') OR 
			a.account_id LIKE CONCAT('%' , #{searchAccount} , '%')
		)
	</select>
	<!-- 채팅 내용 추가 -->
	<insert id="insertChatList" parameterType="gd.fintech.lms.vo.ChatList">
		INSERT INTO chat_list(
			chatroom_uuid,
			chat_send_id,
			chat_send_name,
			chat_receive_id,
			chat_receive_name,
			chat_text,
			chat_senddate
		) VALUES (
			#{chatroomUuid},
			#{chatSendId},
			#{chatSendName},
			#{chatReceiveId},
			#{chatReceiveName},
			#{chatText},
			NOW()
		)
	</insert>
</mapper>