<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.ManagerClassroomMapper"> 
	<select id="selectClassroomList" resultType="gd.fintech.lms.vo.Classroom">
		SELECT 
			classroom_no classroomNo,
			classroom_number classroomNumber,
			classroom_size classroomSize,
			classroom_total classroomTotal
		FROM
			classroom
	</select>
	
	<select id="selectClassroomListByPage" resultType="gd.fintech.lms.vo.Classroom">
		SELECT 
			classroom_no classroomNo,
			classroom_number classroomNumber,
			classroom_size classroomSize,
			classroom_total classroomTotal
		FROM
			classroom
	</select>
	
	<select id="selectClassroomCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			classroom
	</select>
	
	<insert id="insertClassroom" parameterType="gd.fintech.lms.vo.Classroom">
		INSERT INTO classroom (
			classroom_number,
			classroom_size,
			classroom_total
		) VALUES (
			#{classroomNumber},
			#{classroomSize},
			#{classroomTotal}
		)
	</insert>
	
	<delete id="deleteClassroom" parameterType="int">
		DELETE FROM
			classroom
		WHERE
			classroom_no = #{classroomNo}
	</delete>
	
	<update id="updateClassroom" parameterType="gd.fintech.lms.vo.Classroom">
		UPDATE
			classroom
		SET
			classroom_number = #{classroomNumber},
			classroom_size = #{classroomSize},
			classroom_total = #{classroomTotal}
		WHERE
			classroom_no = #{classroomNo}
	</update>
	
	<select id="selectClassroomOne" parameterType="int" resultType="gd.fintech.lms.vo.Classroom">
		SELECT
			classroom_no classroomNo,
			classroom_number classroomNumber,
			classroom_size classroomSize,
			classroom_total classroomTotal
		FROM
			classroom
		WHERE
			classroom_no = #{classroomNo}
	</select>
</mapper>