<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.ManagerQuestionMapper"> 
	<select id="selectQuestionList" resultType="gd.fintech.lms.vo.Question">
		SELECT 
		question_no questionNo,
		lecture_no lectureNo,
		account_id accountId,
		question_writer questionWriter,
		question_title questionTitle,
		question_content questionContent,
		question_createdate questionCreatedate,
		question_updatedate questionUpdatedate,
		question_count questionCount,
		question_password questionPassword
		FROM question
	</select>
</mapper>