<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.ManagerSubjectMapper"> 
	<select id="selectSubjectList" resultType="gd.fintech.lms.vo.Subject">
		SELECT 
		subject_no subjectNo,
		subject_name subjectName,
		subject_createdate subjectCreatedate,
		subject_updatedate subjectUpdatedate,
		subject_totalday subjectTotalday,
		subject_info subjectInfo
		FROM subject
	</select>
</mapper>