<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.ManagerLoginLogMapper">
	
	<!-- 로그인 로그 목록 리스트 -->
	<select id="selectLoginLogList" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.LoginLog">
		SELECT 
			login_log_no loginLogNo,
			account_id accountId,
			login_log_date loginLogDate,
			login_log_browser loginLogBrowser,
			login_log_ip loginLogIp,
			login_log_os loginLogOs
		FROM
			login_log
		<where>
			<if test="searchText != ''">
				AND account_id LIKE CONCAT('%',#{searchText},'%')
			</if>
			<if test="searchDate != ''">
				AND login_log_date LIKE CONCAT('%',#{searchDate},'%')
			</if>
		</where>
		ORDER BY
			login_log_date DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!--  로그인 로그 목록 페이징 카운트 -->
	<select id="selectLoginLogCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			login_log
		<where>
			<if test="searchText != ''">
				AND account_id LIKE CONCAT('%',#{searchText},'%')
			</if>
			<if test="searchDate != ''">
				AND login_log_date LIKE CONCAT('%',#{searchDate},'%')
			</if>
		</where>
	</select>
</mapper>