<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.ManagerAccountMapper">
	<!-- 강사 계정 ID 출력문 -->
	<select id="selectAccountList" resultType="gd.fintech.lms.vo.Account">
		SELECT 
			account_id accountId
		FROM 
			account 
		WHERE 
			account_state = "활성화" AND
			account_level = 2
	</select>
	<!-- FAQ 관련 계정 ID 출력문 -->
	<select id="selectFaqAccountList" resultType="gd.fintech.lms.vo.Account">
		SELECT 
			account_id accountId
		FROM 
			account 
		WHERE 
			account_state = "활성화" AND
			account_level = 3
	</select>
	<!-- 운영자 계정 관리 페이지 출력문 -->
	<select id="selectManagerAccountListByPage" resultType="gd.fintech.lms.vo.Account">
		SELECT 
			account_id accountId,
			account_state accountState,
			account_level accountLevel
		FROM
			account
		WHERE
			account_level = 1
		OR
			account_level = 2
		OR
			account_level = 3
		ORDER BY
			account_id DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectAccountCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			teacher
	</select>
	
	<update id="updateAccount" parameterType="gd.fintech.lms.vo.Account">
		UPDATE
			account
		SET
			account_state = #{accountState},
			account_updatedate = now()
		WHERE
			account_id = #{accountId}
	</update>
	
	<select id="selectAccountOne" parameterType="String" resultType="gd.fintech.lms.vo.Account">
		SELECT 
			account_id accountId,
			account_state accountState,
			account_level accountLevel,
			account_createdate accountCreatedate,
			account_updatedate accountUpdatedate
		FROM
			account
		WHERE
			account_id = #{accountId}
	</select>
</mapper>