<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.ManagerLectureArchiveFileMapper">
	<!-- 자료 첨부파일 목록 -->
	<select id="selectManagerLectureArchiveFileList" parameterType="int" resultType="String">
		SELECT
			lecture_archive_file_uuid
		FROM
			lecture_archive_file
		WHERE
			lecture_archive_no = #{archiveNo}
	</select>
	
	<!-- 자료 첨부파일 입력 -->
	<insert id="inserManagerLectureArchiveFile" parameterType="gd.fintech.lms.vo.LectureArchiveFile">
		INSERT INTO lecture_archive_file (
			lecture_archive_file_uuid, 
			lecture_archive_file_original, 
			lecture_archive_no, 
			lecture_archive_file_size, 
			lecture_archive_file_type, 
			lecture_archive_file_count, 
			lecture_archive_file_createdate
		) VALUES (
			#{lectureArchiveFileUuid}, 
			#{lectureArchiveFileOriginal},
			#{lectureArchiveNo}, 
			#{lectureArchiveFileSize}, 
			#{lectureArchiveFileType}, 
			0, 
			NOW()
		)
	</insert>
	
	<!-- 자료 첨부파일 전체 삭제 -->
	<delete id="deleteManagerLectureArchiveFileAll" parameterType="int">
		DELETE FROM
			lecture_archive_file
		WHERE
			lecture_archive_no = #{archiveNo}
	</delete>
</mapper>