<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.SyllabusMapper">
	<!-- 강의 계획서 출력 -->
	<select id="syllabusOne" resultType="gd.fintech.lms.vo.Syllabus">
		SELECT
			syllabusFileOriginal,
			syllabusFileSize,
			syllabusFileType,
			syllabusFileCount,
			syllabusFileCreatedate
		FROM
			syllabus
		WHERE 
			lecture_no = #{lectureNo}
	</select>
</mapper>