<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherLectureArchiveMapper">
	<resultMap type="gd.fintech.lms.vo.LectureArchive" id="selectTeacherLectureArchiveOneResult">
		<result property="lectureArchiveNo" column="lecture_archive_no" />
		<result property="lectureNo" column="lecture_no" />
		<result property="accountId" column="account_id" />
		<result property="lectureArchiveWriter" column="lecture_archive_writer" />
		<result property="lectureArchiveTitle" column="lecture_archive_title" />
		<result property="lectureArchiveContent" column="lecture_archive_content" />
		<result property="lectureArchiveCreatedate" column="lecture_archive_createdate" />
		<result property="lectureArchiveUpdatedate" column="lecture_archive_updatedate" />
		<result property="lectureArchiveCount" column="lecture_archive_count" />
		<collection property="lectureArchiveFileList" ofType="gd.fintech.lms.vo.LectureArchiveFile">
			<result property="lectureArchiveFileUuid" column="lecture_archive_file_uuid" />
			<result property="lectureArchiveFileOriginal" column="lecture_archive_file_original" />
			<result property="lectureArchiveNo" column="lecture_archive_no" />
			<result property="lectureArchiveFileSize" column="lecture_archive_file_size" />
			<result property="lectureArchiveFileType" column="lecture_archive_file_type" />
			<result property="lectureArchiveFileCount" column="lecture_archive_file_count" />
		</collection>
	</resultMap>

	<!-- 자료 목록 -->
	<select id="selectTeacherLectureArchiveListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.LectureArchive">
		SELECT
			lecture_archive_no lectureArchiveNo, 
			lecture_archive_writer lectureArchiveWriter, 
			lecture_archive_title lectureArchiveTitle, 
			lecture_archive_createdate lectureArchiveCreatedate, 
			lecture_archive_count lectureArchiveCount
		FROM
			lecture_archive
		WHERE
			lecture_no = #{lectureNo}
		ORDER BY
			lecture_archive_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 자료실 데이터 수 조회 -->
	<select id="selectTeacherLectureArchiveListCount" parameterType="Integer" resultType="Integer">
  		SELECT
  			COUNT(*)
  		FROM
  			lecture_archive
  		WHERE
  			lecture_no = #{lectureNo};
  	</select>
  	
  	<!-- 자료 조회 -->
  	<select id="selectTeacherLectureArchiveOne" parameterType="Integer" resultMap="selectTeacherLectureArchiveOneResult">
  		SELECT
  			la.lecture_archive_no, 
  			la.lecture_no, 
  			la.account_id, 
  			la.lecture_archive_writer, 
  			la.lecture_archive_title, 
  			la.lecture_archive_content, 
  			la.lecture_archive_createdate, 
  			la.lecture_archive_updatedate, 
  			la.lecture_archive_count, 
  			laf.lecture_archive_file_uuid, 
  			laf.lecture_archive_file_original, 
  			laf.lecture_archive_file_size, 
  			laf.lecture_archive_file_type, 
  			laf.lecture_archive_file_count
  		FROM
  			lecture_archive la
  		LEFT OUTER JOIN
  			lecture_archive_file laf ON
  			la.lecture_archive_no = laf.lecture_archive_no
  		WHERE
  			la.lecture_archive_no = #{lectureArchiveNo}
  	</select>
  	
  	<!-- 자료 조회 조회수 증가 -->
  	<update id="updateTeacherLectureArchiveCountUp" parameterType="Integer">
  		UPDATE
  			lecture_archive
  		SET
  			lecture_archive_count = lecture_archive_count + 1
  		WHERE
  			lecture_archive_no = #{lectureArchiveNo}
  	</update>
  	
  	<!-- 자료 입력 -->
  	<insert id="insertTeacherLectureArchive" parameterType="gd.fintech.lms.vo.LectureArchive">
  		<selectKey resultType="int" keyProperty="lectureArchiveNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
  		INSERT INTO lecture_archive (
  			lecture_no, 
  			account_id, 
  			lecture_archive_writer, 
  			lecture_archive_title, 
  			lecture_archive_content, 
  			lecture_archive_createdate, 
  			lecture_archive_updatedate, 
  			lecture_archive_count
  		) VALUES (
  			#{lectureNo}, 
  			#{accountId}, 
  			#{lectureArchiveWriter}, 
  			#{lectureArchiveTitle}, 
  			#{lectureArchiveContent}, 
  			NOW(), 
  			NOW(), 
  			0
  		)
  	</insert>
  	
  	<!-- 자료 수정 -->
  	<update id="updateTeacherLectureArchive" parameterType="gd.fintech.lms.vo.LectureArchive">
  		UPDATE
  			lecture_archive
  		SET
  			lecture_archive_title = #{lectureArchiveTitle}, 
  			lecture_archive_content = #{lectureArchiveContent}, 
  			lecture_archive_updatedate = NOW()
  		WHERE
  			lecture_archive_no = #{lectureArchiveNo}
  	</update>
  	
  	<!-- 자료 삭제 -->
  	<delete id="deleteTeacherLectureArchive" parameterType="Integer">
		DELETE FROM
			lecture_archive
		WHERE
			lecture_archive_no = #{archiveNo}
	</delete>
</mapper>