<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherNoteMapper">
	<!-- 쪽지 수신함 -->
	<select id="selectNoteReceiveListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Note">
		SELECT
			note_no noteNo, 
			note_title noteTitle, 
			note_dispatcher_id noteDispatcherId, 
			note_dispatcher_name noteDispatcherName, 
			note_send_date noteSendDate, 
			note_is_read noteIsRead
		FROM
			note
		WHERE
			note_receiver_id = #{teacherId}
		ORDER BY
			note_no DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 쪽지 수신함 총 데이터 수 -->
	<select id="selectTeacherNoteReceiveCount" parameterType="String" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			note
		WHERE
			note_receiver_id = #{teacherId}
	</select>
	
	<!-- 쪽지 발신함 -->
	<select id="selectNoteDispatchListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Note">
		SELECT
			note_no noteNo, 
			note_title noteTitle, 
			note_receiver_id noteReceiverId, 
			note_receiver_name noteReceiverName, 
			note_send_date noteSendDate, 
			note_is_read noteIsRead
		FROM
			note
		WHERE
			note_dispatcher_id = #{teacherId}
		ORDER BY
			note_no DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 쪽지 발신함 총 데이터 수 -->
	<select id="selectTeacherNoteDispatchCount" parameterType="String" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			note
		WHERE
			note_dispatcher_id = #{teacherId}
	</select>
	
	<!-- 쪽지 수신 내용 -->
	<select id="selectNoteReceiveOne" parameterType="Integer" resultType="gd.fintech.lms.vo.Note">
		SELECT
			note_title noteTitle, 
			note_content noteContent, 
			note_dispatcher_id noteDispatcherId, 
			note_dispatcher_name noteDispatcherName, 
			note_receiver_id noteReceiverId, 
			note_receiver_name noteReceiverName, 
			note_send_date noteSendDate
		FROM
			note
		WHERE
			note_no = #{noteNo}
	</select>
	
	<!-- 쪽지 발신 내용 -->
	<select id="selectNoteDispatchOne" parameterType="Integer" resultType="gd.fintech.lms.vo.Note">
		SELECT
			note_title noteTitle, 
			note_content noteContent, 
			note_dispatcher_id noteDispatcherId, 
			note_dispatcher_name noteDispatcherName, 
			note_receiver_id noteReceiverId, 
			note_receiver_name noteReceiverName, 
			note_send_date noteSendDate
		FROM
			note
		WHERE
			note_no = #{noteNo}
	</select>
</mapper>