<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherLectureMapper">
	<resultMap type="gd.fintech.lms.vo.Lecture" id="selectTeacherLectureListResult">
		<result property="lectureNo" column="lecture_no" />
		<result property="accountId" column="account_id" />
		<result property="teacherName" column="teacher_name" />
		<result property="lectureName" column="lecture_name" />
		<result property="lectureStartdate" column="lecture_startdate" />
		<result property="lectureEnddate" column="lecture_enddate" />
		<collection property="subject" ofType="gd.fintech.lms.vo.Subject">
			<result property="subjectName" column="subject_name" />
		</collection>
	</resultMap>

	<!-- 강좌 목록 -->
	<select id="selectTeacherLectureListByPage" parameterType="java.util.Map" resultMap="selectTeacherLectureListResult">
		SELECT
			l.lecture_no, 
			l.account_id, 
			s.subject_name, 
			l.teacher_name, 
			l.lecture_name, 
			l.lecture_startdate, 
			l.lecture_enddate
		FROM
			lecture l
		JOIN
			subject s ON
			l.subject_no = s.subject_no
		WHERE
			l.account_id = #{teacherId}
		ORDER BY
			l.lecture_no DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 강좌 데이터 수 조회 -->
	<select id="selectTeacherLectureListCount" parameterType="String" resultType="Integer">
  		SELECT
  			COUNT(*)
  		FROM
  			lecture
  		WHERE
  			account_id = #{teacherId};
  	</select>
  	
  	<!-- 강좌 조회 -->
  	<select id="selectTeacherLectureOne" parameterType="java.util.Map" resultMap="selectTeacherLectureListResult">
		SELECT
			l.lecture_no, 
			l.account_id, 
			s.subject_name, 
			l.teacher_name, 
			l.lecture_name, 
			l.lecture_startdate, 
			l.lecture_enddate
		FROM
			lecture l
		JOIN
			subject s ON
			l.subject_no = s.subject_no
		WHERE
			lecture_no = #{lectureNo}
	</select>
</mapper>