<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherReportMapper">
	<select id="selectTeacherReportListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Report">
		SELECT
			report_no reportNo, 
			lecture_no lectureNo, 
			report_title reportTitle, 
			report_content reportContent, 
			report_createdate reportCreatedate, 
			report_updatedate reportUpdatedate, 
			report_startdate reportStartdate, 
			report_enddate reportEnddate
		FROM report
		WHERE lecture_no = #{lectureNo}
		ORDER BY report_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTeacherReportListCount" parameterType="Integer" resultType="Integer">
  		SELECT
  			COUNT(*)
  		FROM report
  		WHERE lecture_no = #{lectureNo};
  	</select>
</mapper>