<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.mapper.LoginMapper">
	<!-- 로그인 체크  -->
	<select id="selectLoginCheck" parameterType="gd.fintech.lms.vo.Account" resultType="gd.fintech.lms.vo.Account">
		SELECT
		 	account_id accountId,
		 	account_level accountLevel
		FROM 
			account
		WHERE 
			account_id = #{accountId} AND 
			account_pw = PASSWORD(#{accountPw})	AND 
			account_level = #{accountLevel}
	</select>
	
	<!--  학생 이름 찾기 -->
	<select id="selectStudentName" parameterType="String" resultType="gd.fintech.lms.vo.Student">
		SELECT
			student_name studentName
		FROM 
			student
		WHERE
			student_id = #{accountId} 
	</select>
	
	<!--  강사 이름 찾기 -->
	<select id="selectTeacherName" parameterType="String" resultType="gd.fintech.lms.vo.Teacher">
		SELECT
			teacher_name teacherName
		FROM 
			teacher
		WHERE
			teacher_id = #{accountId} 
	</select>
	
	<!--  학생 이름 찾기 -->
	<select id="selectManagerName" parameterType="String" resultType="gd.fintech.lms.vo.Manager">
		SELECT
			manager_name managerName
		FROM 
			manager
		WHERE
			manager_id = #{accountId} 
	</select>
</mapper>