<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.mapper.LoginMapper">
	<select id="loginCheck" parameterType="gd.fintech.lms.vo.Account" resultType="gd.fintech.lms.vo.Account">
		SELECT
		 	account_id accountId,
		 	account_level accountLevel
		FROM account
		WHERE account_id = #{accountId}
		AND account_pw = PASSWORD(#{accountPw})
		AND account_level = #{accountLevel}
	</select>
</mapper>