<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.mapper.ManagerLectureMapper">
	<!-- 운영자가 추가한 강의 목록 -->
	<select id="selectLectureListByPage" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Lecture">
		SELECT
			lecture_no lectureNo,
			teacher_name teacherName,
			lecture_name lectureName,
			lecture_startdate lectureStartdate,
			lecture_enddate lectureEnddate,
			lecture_total lectureTotal
		FROM lecture
		ORDER BY lecture_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 개설 되어 있는 강의 개수 -->
	<select id="selectLectureCount" resultType="Integer">
		SELECT
			COUNT(*)
		FROM lecture
	</select>
	<!-- 강의 추가 -->
	<insert id="insertLecture" parameterType="gd.fintech.lms.vo.Lecture">
		INSERT INTO lecture(
			account_id,
			subject_no,
			teacher_name,
			lecture_name,
			textbook_isbn,
			lecture_startdate,
			lecture_enddate,
			lecture_total,
			classroom_no,
			lecture_createdate,
			lecture_updatedate
		) VALUES (
			#{accountId},
			#{subjectNo},
			#{teacherName},
			#{lectureName},
			#{textbookIsbn},	
			#{lectureStartdate},
			#{lectureEnddate},	
			#{lectureTotal},
			#{classroomNo},
			NOW(),
			NOW()
		)	
	</insert>
</mapper>