<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.mapper.StudentSyllabusMapper">
	<select id="selectStudentSyllabusList" parameterType="int" resultMap="gd.fintech.lms.vo.syllabus">
		SELECT
			lecture_no lectureNo,
			syllabus_file_size syllabusFileSize,
			syllabus_file_type syllabusFileType,
			syllabus_file_count syllabusFileCount,
			syllabus_file_original syllabusFileOriginal,
			syllabus_file_uuid syllabusFileUuid,
			syllabus_file_createdate syllabusFileCreateDate
		From syllabus
		WHERE lecture_no = #{lectureNo}
	</select>
</mapper>