<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.mapper.StudentLectureMapper">
	<!-- 학생 : 자신이 수강중인 강좌 목록 보기  -->
	<resultMap type="gd.fintech.lms.vo.LectureAndClassRegistration" id="selectStudentClassListByPageResult">
		<association property="lecture" javaType="gd.fintech.lms.vo.Lecture">
             <result property="lectureNo" column="lecture_no" />
             <result property="subjectNo" column="subject_no" />
             <result property="accountId" column="account_id" />
             <result property="teacherName" column="teacher_name" />
             <result property="lectureName" column="lecture_name" />
             <result property="lectureStartdate" column="lecture_startdate" />
             <result property="lectureEnddate" column="lecture_enddate" />
             <result property="lectureTotal" column="lecture_total" />
		</association>
		<association property="classRegistration" javaType="gd.fintech.lms.vo.ClassRegistration">
             <result property="classRegistrationNo" column="class_registration_no" />
             <result property="accountId" column="account_id" />
             <result property="classRegistrationState" column="class_registration_state" />
		</association>
	</resultMap>
	<select id="selectStudentClassListByPage" parameterType="java.util.Map" resultMap="selectStudentClassListByPageResult">
		SELECT 
			l.lecture_no, 
			l.subject_no,  
			l.account_id,
			l.teacher_name, 
			l.lecture_name, 
			l.lecture_startdate, 
			l.lecture_enddate, 
			l.lecture_total,
			cr.class_registration_no, 
			cr.account_id,
			cr.class_registration_state
		FROM class_registration cr 
		JOIN lecture l 
		ON cr.lecture_no = l.lecture_no 
		WHERE cr.account_id = #{studentId}
		ORDER BY l.lecture_startdate DESC 
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 학생 : 자신이 수강중인 강좌의 개수 -->
	<select id="selectStudentClassListCount" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM class_registration
		WHERE account_id = #{studentId}
	</select>
</mapper>