<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.mapper.TeacherLectureMapper">
	<resultMap type="gd.fintech.lms.vo.Lecture" id="selectTeacherLectureListResult">
		<result property="lectureNo" column="lecture_no" />
		<result property="accountId" column="account_id" />
		<result property="teacherName" column="teacher_name" />
		<result property="lectureName" column="lecture_name" />
		<result property="lectureStartdate" column="lecture_startdate" />
		<result property="lectureEnddate" column="lecture_enddate" />
		<collection property="subject" ofType="gd.fintech.lms.vo.Subject">
			<result property="subjectName" column="subject_name" />
		</collection>
	</resultMap>

	<select id="selectTeacherLectureListByPage" parameterType="java.util.Map" resultMap="selectTeacherLectureListResult">
		SELECT
			l.lecture_no lectureNo, 
			l.account_id accountId, 
			s.subject_name subjectName, 
			l.teacher_name teacherName, 
			l.lecture_name lectureName, 
			l.lecture_startdate lectureStartdate, 
			l.lecture_enddate lectureEnddate
		FROM lecture l
		JOIN subject s
		ON l.subject_no = s.subject_no
		WHERE l.account_id = #{teacherId}
		ORDER BY l.lecture_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTeacherLectureListCount" parameterType="String" resultType="Integer">
  		SELECT
  			COUNT(*)
  		FROM lecture
  		WHERE account_id = #{teacherId};
  	</select>
</mapper>