<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.restmapper.StudentTestRestMapper">
	<!-- 해당 답안지가 이미 존재하는지 -->	
	<select id="selectCheckAnswersheet" parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			answersheet
		WHERE 
			multiplechoice_no = #{multiplechoiceNo} AND
			account_id = #{accountId}
	</select>
	<!-- 해당 답안지를 제출 -->
	<insert id="insertAnswersheet" parameterType="gd.fintech.lms.vo.Answersheet">
		INSERT INTO answersheet(
			multiplechoice_no,
			account_id,
			lecture_no,
			answer_select,
			answer_score
		) VALUES (
			#{multiplechoiceNo},
			#{accountId},
			#{lectureNo},
			#{answerSelect},
			0
		)
	</insert>
	<!-- 해당 답안지를 수정 -->
	<update id="updateAnswersheet" parameterType="gd.fintech.lms.vo.Answersheet">
		UPDATE 
			answersheet
		SET
			answer_select = #{answerSelect}
		WHERE 
			multiplechoice_no = #{multiplechoiceNo} AND
			account_id = #{accountId}
	</update>
	
	<!-- 문제를 다 풀었는지 -->
	<!-- 결과가 0일경우 문제를 다 푼것 -->
	<select id="selectCheckTestFinish" parameterType="java.util.Map" resultType="int">
		SELECT (
			SELECT 
				COUNT(*) 
			FROM 
				multiplechoice m
			WHERE 
				m.lecture_no = #{lectureNo}
			) - (
			SELECT 
				COUNT(*) 
			FROM 
				answersheet a 
			LEFT JOIN 
				multiplechoice m ON 
				a.multiplechoice_no = m.multiplechoice_no
			WHERE 
				m.lecture_no = #{lectureNo} AND 
				a.account_id = #{accountId}
			)
	</select>
	
	<!-- 해당 답안이 정답인 경우 점수 반영 : 프로시저-->
	<update id="updateAnswerScore" statementType="CALLABLE" parameterType="gd.fintech.lms.vo.Answersheet">
		CALL update_answer_score(#{multiplechoiceNo}, #{accountId})
	</update>
	
	<!-- 해당 평가가 제출일인지 -->
	<select id="selectCheckTestDate" parameterType="int" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			test
		WHERE
			NOW() >= test_startdate AND
			test_enddate >= NOW() AND
			lecture_no = #{lectureNo}
	</select>
</mapper>