<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.restmapper.StudentLectureRestMapper">
	<!-- 이미 수강신청을 했는지 알아옴 -->
	<select id="selectCheckClassRegistration" parameterType="gd.fintech.lms.vo.ClassRegistration" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			class_registration
		WHERE 
			lecture_no = #{lectureNo} AND
			account_id = #{accountId}
	</select>
	
	<!-- 과제 제출 첨부파일 다운로드 횟수 증가 -->
	<update id="updateReportSubmitFileCount" parameterType="String">
		UPDATE 
			report_submit_file
		SET
			report_submit_file_count = report_submit_file_count + 1
		WHERE
			report_submit_file_uuid = #{uuid}
	</update>
	
	<!-- 과제 제출 첨부파일 다운로드 횟수 가져오기 -->
	<select id="selectReportSubmitFileCount" parameterType="String" resultType="int">
		SELECT 
			report_submit_file_count
		FROM 
			report_submit_file
		WHERE 
			report_submit_file_uuid = #{uuid}
	</select>
</mapper>