<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.restmapper.StudentReportRestMapper">	
	<!-- 과제 제출 첨부파일 다운로드 횟수 증가 -->
	<update id="updateReportSubmitFileCount" parameterType="String">
		UPDATE 
			report_submit_file
		SET
			report_submit_file_count = report_submit_file_count + 1
		WHERE
			report_submit_file_uuid = #{uuid}
	</update>
	
	<!-- 과제 제출 첨부파일 다운로드 횟수 가져오기 -->
	<select id="selectReportSubmitFileCount" parameterType="String" resultType="int">
		SELECT 
			report_submit_file_count
		FROM 
			report_submit_file
		WHERE 
			report_submit_file_uuid = #{uuid}
	</select>
	
	<!-- 과제 제출 첨부파일 한개 삭제 -->
	<delete id="deleteReportSubmitFileOne" parameterType="String"> 
		DELETE FROM
			report_submit_file
		WHERE
			report_submit_file_uuid = #{uuid}
	</delete>
	
	<!-- 해당 과제가 제출기간이 맞는지 -->
	<select id="selectCheckReportSubmitDate" parameterType="int" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			report 
		WHERE 
			NOW() >= report_startdate AND 
			report_enddate >= NOW() AND 
			report_no = #{reportNo}
	</select>
</mapper>