<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.admin.mapper.AdminIndexMapper">

	<!-- 운영자 목록 -->
	<select id="selectManagerList" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Manager">
		SELECT
			manager_id managerId,
			manager_email managerEmail,
			manager_phone managerPhone,
			manager_name managerName,
			manager_gender managerGender,
			manager_birth managerBirth,
			manager_position managerPosition,
			manager_address_main managerAddressMain,
			manager_address_sub managerAddressSub,
			manager_accessdate managerAccessdate
		FROM
			manager
		<where>
			<if test = "managerPosition != null and managerName == null">
					manager_position = #{managerPosition}
			</if>
			<if test = "managerPosition == null and managerName != null">
					manager_name LIKE CONCAT(#{managerName},'%')
			</if>
			<if test = "managerPosition != null and managerName != null">
					manager_position = #{managerPosition} AND
					manager_name LIKE CONCAT(#{managerName},'%')
			</if>
		</where>
		ORDER BY
			manager_accessdate DESC
		LIMIT 
			#{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 운영자 총 인원 및 검색 인원 -->
	<select id="selectManagerCount" parameterType="gd.fintech.lms.vo.Manager" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			manager
		<where>
			<if test = "managerPosition != null and managerName == null">
					manager_position = #{managerPosition}
			</if>
			<if test = "managerPosition == null and managerName != null">
					manager_name LIKE CONCAT(#{managerName},'%')
			</if>
			<if test = "managerPosition != null and managerName != null">
					manager_position = #{managerPosition} AND
					manager_name LIKE CONCAT(#{managerName},'%')
			</if>
		</where>
	</select>

</mapper>